@font-face {
    font-family: 'BrownLight';
    src: url('BrownLight.eot');
    src: url('BrownLight.eot') format('embedded-opentype'),
         url('BrownLight.woff2') format('woff2'),
         url('BrownLight.woff') format('woff'),
         url('BrownLight.ttf') format('truetype'),
         url('BrownLight.svg#BrownLight') format('svg');
}
